fastapi==0.95.2
uvicorn[standard]==0.22.0
pandas==2.1.2
numpy==1.26.4
rasterio==1.4.3
torch==2.2.1
torchvision==0.18.1
faiss-cpu==1.7.4
sentence-transformers==2.2.2
matplotlib==3.8.0
langchain==0.0.327
openai==1.0.0